{% extends "base.html" %}
{% load static %}
{% block content %}
<div data-routerrapper>
    <div data-router-view="homepage" data-slug="homepage" class="">
                <div data-scroll>
                    
                    <div class="home-cta" data-scroll-item data-color-section data-color-opacity=".4"
                        data-color-one="purple" data-color-two="yellow">
                        <div class="wrap-o">
                            <div class="wrap-i">
                                <div class="home-cta-img-wrap">
                                    <div class="home-cta-img" data-parallax-top='.95' data-pan-wrap>
                                        <form action="#" method="post">
                                            <input class="text">
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="home-cta-scroll-cta" data-parallax-top='1.25' data-scroll-to="work">
                            <div class="home-cta-scroll-cta-wrapper">
                                <div class="home-cta-scroll-cta-background">
                                    <div class="home-cta-scroll-cta-background-inner"></div>
                                </div>
                                <div class="home-cta-scroll-cta-arrow">
                                    <div class="home-cta-scroll-cta-arrow-inner">
                                        <div class="home-cta-scroll-cta-arrow-static">
                                            <img src="{% static '/assets/svg/arrow-up.svg' %}" alt="arrow up">
                                        </div>

                                        <div class="home-cta-scroll-cta-arrow-hover">
                                            <img src="{% static '/assets/svg/arrow-up.svg' %}" alt="arrow up">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home-selected-work" data-scroll-item="work" data-color-section data-color-opacity=".5"
                        data-color-one="purple" data-color-two="black">
                        <div class="wrap-o z-10">
                            <div class="wrap-i">
                                <div class="home-selected-work-text | grid grid-cols-4 md:grid-cols-12 gap-32">
                                    <div class="col-span-1 md:col-span-2 md:col-start-4 md:text-center">
                                        
                                    </div>
                                    <div class="col-span-3 md:col-span-5 md:col-start-6" data-split-articles>
                                       

                                    </div>
                                </div>
                            </div>
                        </div>






                        <!-- DISCOVER MORE -->
                        <div class="wrap-o" data-animate data-animate-delay='550'>
                            <div class="wrap-i">
                                <div class="grid grid-cols-4 md:grid-cols-12 gap-32">
                                    <div class="col-span-4 md:col-span-3 md:col-start-2 mobile:text-center">
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}